* {
    margin: 0;
    padding: 0;
    border: 0;

}
/* header */

header#top {
    width: 100%;
    height: 40px;
    background-color: #212121;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
   
   
}
#logo {   
    color: #fff;
    padding-left: 15% ;
    padding-top: 10px;
}
.hrefs {
    background-color: rgba(#fff, 0);
    background: transparent;
}
#home {
    right: 400px;
    top: 5px;
    background-color: #F9A825;
    border-radius: 30px;
    color: #fff;
}
.header-itens {
    color: #fff;
    position: absolute;
    padding: 5px 25px 5px 25px;
}
#contato {
    right: 285px;
    top: 5px;
    position: absolute;

}
#sobre {
    right: 185px;
    top: 5px;
    position: absolute;
}

#contato:hover, #sobre:hover {
    background-color: red;
    background-size: 10px;
}
/* main */
#main {
    height: 100px;
    position: absolute;
    width: 99.7%;
    height: 85%;
}
#main #lorem {
    position: absolute;
    overflow-wrap: break-word;
    width: 400px;
    top: 45%;
    left: 20%;
    font-family: Arial, Helvetica, sans-serif;
}
article {
    width: 400px;
}

#main #mail {
    width: 300px;
    border: 2px solid #212121;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    border-radius: 6px;
    right: 20%;
    top: 50%;
}




/* footer */

footer {
    height: 80px;
    width: 100%;
    color: #fff;
    background-color: #212121;
    bottom: 0;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    
}
footer #foot {
  margin-left: 45.1%;
  margin-top: 30px;


    
}