* {
    margin: 0;
    padding: 0;
    border: 0;

}
/* header */

header#top {
    width: 100%;
    height: 40px;
    background-color: #212121;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
   
   
}
#logo {   
    color: #fff;
    padding-left: 15% ;
    padding-top: 10px;
}
.hrefs {
    text-decoration: none;
    color: #fff;

}
#home {
    right: 400px;
    top: 5px;
    background-color: #F9A825;
    border-radius: 30px;
    color: #fff;
    
}
.header-itens {
    color: #fff;
    position: absolute;
    padding: 5px 25px 5px 25px;

}
#contato {
    right: 285px;
    top: 5px;
    position: absolute;

}
#sobre {
    right: 185px;
    top: 5px;
    position: absolute;
}

#contato:hover, #sobre:hover {
    background-color: red;
    background-size: 10px;
}





/* main */



main {
    width: 100%;
    height: max-content;
}

#div1#lorem {
    width: 400px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
}


#div2 #mail {
    width: 300px;
    border: 2px solid #212121;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 7px;


}
article {
    width: 100%;
    height: 100%;
}
#div1{
    border-right: 1px dashed #212121;
    width: 400px;
    height: 200px;
    margin: 0 auto;
    flex-direction: row;
  
}
#div2 {
    right: 0;
    width: 304px;
    height: 200px;
    margin: 0 auto;
}




/* footer */

footer {
    height: 80px;
    width: 100%;
    color: #fff;
    background-color: #212121;
    bottom: 0;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    
}
footer #foot {
  margin-left: 45.1%;
  margin-top: 30px;


    
}