* {
    margin: 0;
    padding: 0;
    border: 0;

}
header#top {
    width: 100%;
    height: 40px;
    background-color: #212121;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
   
   
}
#logo {   
    color: #fff;
    padding-left: 15% ;
    padding-top: 10px;
}
#home {
    right: 400px;
    top: 5px;
    background-color: #F9A825;
    border-radius: 35%;
}
#home:hover {

}
.header-itens {
    color: #fff;
    position: absolute;
    padding: 5px 25px 5px 25px;
}
#contato {
    right: 285px;
    top: 5px;
    position: absolute;

}
#sobre {
    right: 185px;
    top: 5px;
    position: absolute;
}

#contato:hover, #sobre:hover {
    background-color: red;
    background-size: 10px;
}

#lorem {
    padding-top: 20%;
    margin-right: 200px;
    position: absolute;
    left: 0;

}




footer {
    height: 80px;
    width: 100%;
    color: #fff;
    background-color: #212121;
    bottom: 0;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    
}
footer #foot {
  margin-left: 47%;
  margin-top: 30px;


    
}